.metadata
tp1/bin
tp1/.settings
tp1/.classpath
tp1/.project
tp2/bin
tp2/.settings
tp2/.classpath
tp2/.project
EntregableTp2/bin
EntregableTp2/.settings
EntregableTp2/.classpath
EntregableTp2/.project
Entregable_TP4-TP5/bin
Entregable_TP4-TP5/.settings
Entregable_TP4-TP5/.classpath
Entregable_TP4-TP5/.project